[Desktop Entry]
Encoding=UTF-8
Name=Gridcoin
Comment=Gridcoin P2P Cryptocurrency
Comment[fr]=Gridcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gridcoin, eşten eşe kriptografik sanal para birimi
Exec=gridcoin-qt %u
Terminal=false
Type=Application
Icon=gridcoin128
MimeType=x-scheme-handler/gridcoin;
Categories=Office;Finance;
